/* Documento para estilos del conocenos.html */

.bloqueBlanco {
	margin: 1em;
	display: flex;
	flex-direction: row;
	/* centrar */
	align-items: center;
	/* Separacion entre elementos */
	justify-content: space-around;
	border-bottom: black 1px solid;
	border-radius: 0px;
}
.bloqueBlanco > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.bloqueBlanco h3 {
	margin-top: 0em;
}
.bloqueBlanco > div > p {
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
iframe {
	width: 31.938em;
	height: 23.188em;
}

.bloqueNaranja {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.bloqueNaranja > div {
	width: 31.938em;
}
.bloqueNaranja h2 {
	/* Agregar sombra, prototipo: X-Y-Blur-Spread-Color */
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.bloqueNaranja p {
	font-size: 1.375em;
	/*interlineado*/
	line-height: 1.25em;
}
#creditos {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	margin-top: 3em;
	margin-bottom: 3em;
}
#creditos > h3 {
	/* Arial 40px */
	font-size: 2.5em;
	font-family: Arial;
	margin: 0px;
}
#creditos p {
	font-size: 1.25em;
	font-family: Arial;
	margin-top: 5px;
	margin-bottom: 5px;
}
#creditos > div {
	/* centrar los elementos */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media (max-width: 77em) {
	.bloqueNaranja {
		flex-direction: column;
	}
	.bloqueBlanco {
		flex-direction: column;
	}
	#creditos p {
		font-size: 1em;
	}
}
@media (max-width: 50em) {
	.bloqueNaranja > div {
		/*tamaño de los parrafos*/
		width: 100%;
		/* centrar */
		text-align: center;
	}
	.bloqueBlanco {
		margin: 0em;
		justify-content: center;
		align-items: center;
	}

	.bloqueBlanco > div {
		/* hacer que el div del bloque blanco ocupe el anchode la pantalla */
		width: 80%;
		/* centrar */
		text-align: center;
		flex-direction: column;
	}
	.bloqueBlanco iframe {
		width: 80%;
	}
	.bloqueBlanco h3 {
		/*tamaño de los parrafos*/
		width: 90%;
		font-size: 2em;
		/* centrar */
		text-align: center;
	}
	.bloqueBlanco > div > p {
		/*tamaño de los parrafos*/
		width: 80%;
		/* centrar */
		text-align: center;
	}
	iframe {
		width: 100%;
	}
	#creditos > div {
		margin: 1em;
	}
	#creditos > div > p {
		width: 100%;
	}
}
