/* Documento para estilos comunes de la pagina */
/* <----------------------- Cosas generales -----------------------> */
/* Estilo general de los parrafos */
p {
	font-family: Arial;
}
/* Estilos para los encabezados generales */
h2,
h3 {
	/* fuente de google fonts */
	font-family: "Alegreya Sans SC", sans-serif;
	font-weight: 500;
	font-style: normal;
}
/* Quitar los subrayados de los enlaces */
a {
	text-decoration: none;
}
/* Fondo de la pagina estandar */
body {
	background-color: #FBF8F8;
}
/* Cajitas naranjas*/
.bloqueNaranja {
	background-color: #ffb46c;
	padding: 1em;
	margin: 1em;
	/*Esquinas redondeadas*/
	border-radius: 20px;

}
/* <----------------------- Estilos para el encabezado -----------------------> */
header {
	background-color: #3dbbd2;
	display: flex;
}
header a img {
	/* dejar margen a la izquierda y derecha */
	margin: 0 58px;
	/* centrar verticalmente */
	align-self: center;
	/* tamaño de la imagen */
	width: 198px;
	height: 140px;
}
header nav {
	background-color: #038fa9;
	/* Hacer que ocupe todo el espacio restante */
	flex-grow: 1;
	display: flex;
	justify-content: space-around; /* Distribuir horizontalmente */
	align-items: center; /* Centrar verticalmente */
}
header nav a {
	color: #fbf8f8;
	/* fuente de google fonts */
	font-family: "Alegreya Sans SC", sans-serif;
	font-weight: 500;
	font-size: 3em;
}
/* <----------------------- Estilos para el pie de pagina -----------------------> */
footer {
	background-color: #038fa9;
	/* Hacer que ocupe todo el espacio restante */
	display: flex;
	justify-content: space-around; /* Distribuir horizontalmente */
	text-align: center; /* Centrar texto verticalmente */
	align-items: center; /* Centrar verticalmente */
}

footer div {
	border-left: 2px solid white;
	padding-left: 1em;
}

footer a {
	font-family: Arial;
}
/* <----------------------- Estilo del botón flotante -----------------------> */
