/* Documento para estilos comunes de la pagina */
/* <----------------------- Cosas generales -----------------------> */
/* Estilo general de los parrafos */
body,
html {
	margin: 0;
}

p {
	font-family: Arial;
}

/* Estilos para los encabezados generales */
h2,
h3 {
	/* fuente de google fonts */
	font-family: "Alegreya Sans SC", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.encabezadoMarca {
	font-family: "Station No.2 W00 No.2";
	color: #fbf8f8;
	font-size: 3em;
}

/* Quitar los subrayados de los enlaces */
a {
	text-decoration: none;
}

/* Fondo de la pagina estandar */
body {
	background-color: #fbf8f8;
}

/* Iframe estandard */
iframe {
	width: 320px;
	height: 440px;
	border-radius: 20px;
	/* hacer que no se vea el borde */
	border: none;
	/* Agregar sombra, prototipo: X-Y-Blur-Spread-Color */
	box-shadow: 0 5px 4.7px 2px rgba(0, 0, 0, 0.25);
	margin: 1em;
}

/* Bloques naranjas */
.bloqueNaranja {
	background-color: #ffb46c;
	padding: 1em;
	margin: 1em;
	/*Esquinas redondeadas*/
	border-radius: 20px;
}
.bloqueNaranja h2,
.bloqueNaranja p {
	display: inline;
}

.bloqueNaranja > div {
	margin: 1em;
}
/* <----------------------- Bloques blancos -----------------------> */
.bloqueBlanco h2,
.bloqueBlanco h3 {
	color: #1ca9c3;
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.bloqueBlanco h2 {
	font-size: 3em;
}

.bloqueBlanco h3 {
	font-size: 3em;
	text-align: center;
}

.bloqueBlanco p {
	font-size: 1.375em;
	width: 450px;
	text-align: center;
}

/* <----------------------- Estilos para el encabezado -----------------------> */
header {
	background-color: #3dbbd2;
	display: flex;
	/* hacer que no queden margenes */
	margin: 0;
}

header a img {
	/* dejar margen a la izquierda y derecha */
	margin: 0 58px;
	/* centrar verticalmente */
	align-self: center;
	/* tamaño de la imagen */
	width: 198px;
	height: 140px;
}

header nav {
	background-color: #038fa9;
	/* Hacer que ocupe todo el espacio restante */
	flex-grow: 1;
	display: flex;
	justify-content: space-around;
	/* Distribuir horizontalmente */
	align-items: center;
	/* Centrar verticalmente */
}

header nav a {
	color: #fbf8f8;
	/* fuente de google fonts */
	font-family: "Alegreya Sans SC", sans-serif;
	font-weight: 500;
	font-size: 3em;
}

/* <----------------------- Estilos para el pie de pagina -----------------------> */
footer {
	background-color: #038fa9;
	color: #fbf8f8;
	/* Hacer que ocupe todo el espacio restante */
	display: flex;
	justify-content: space-evenly;
	margin-top: 1em;
	/*Dejar menos margen entre los elementos*/
	padding: 1em 0;
}

footer div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#informacionF {
	display: flex;
	flex-direction: column;
}

footer a {
	font-family: Arial;
	margin: 0.7em;
	color: #fbf8f8;
}

.spacerFooter {
	align-self: center;
	height: 96px;
	width: 4px;
}
#informacionF img {
	width: 18px;
	height: 18px;
}
#informacionF p {
	margin-top: none;
	margin-bottom: none;
}
.iconoFooter img {
	height: 28px;
	width: 28px;
}
/* <----------------------- Estilo del botón flotante -----------------------> */
.botonSubir {
	/* Posicion fija */
	position: fixed;
	/* Posicion en la esquina inferior derecha */
	bottom: 50px;
	right: 50px;
}
