/* Documento para estilos del index */
/* <----------------------- Cosas generales -----------------------> */

/* Dividir la pagina en dos bloques, un main a la izquierda y los aside a la derecha*/
main 
{
	display: flex;
}


/* Separacion entre los article */

/* <----------------------- Bloque Blanco Nuestros servicios -----------------------> */
.bloqueBlanco {
	display: flex;
	/* Centrar */
	align-items: center;
	/* distribuir verticalmente */
	flex-direction: column;
	

}

#carouselExampleCaptions{
	margin: 1em;
	margin-bottom: 0em;
}

#carouselExampleCaptions img{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#articulo1 .bloqueNaranja{
	margin-top: 0;
	border-top-left-radius: 0%;
	border-top-right-radius: 0%;
}

#articulo1 h2, #articulo1 p{
	display: inline;
}

.bloqueBlanco #servicios {
	display: flex;

}

#servicios article {
	margin: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* centrar */
	justify-content: center;
	/* Separacion entre elementos */

}
#servicios article p{

	/*tamaño de los parrafos*/
	width: 450px;

	font-size: 1.375em;
	/* centrar */
	text-align: center;
}


/* <----------------------- Bloque Naranja de músicos -----------------------> */

/* FALTA POR HACER:
- Que sea responsive en funcion del zoom
- Tamaño h2
*/
.bloqueNaranja {
	display: flex;
	/* Centrar */
	align-items: center;
	/* Distribuir titulo y #bandas verticalmente */
	flex-direction: column;
}

.bloqueNaranja #bandas {
	display: flex;
	/* Distribuir los .banda horizontalmente */
	justify-content: space-around;
}

.banda {
	display: flex;
	margin: 1em;
	/* Separacion entre las bandas */
	/* Distribuir verticalmente */
	flex-direction: column;
	/* Centrar */
	align-items: center;
}

.bloqueNaranja h2 {
	font-size: 3em;
}

/* Sombreado del texto */
.banda h3,
.bloqueNaranja h2 {
	/* Agregar sombra, prototipo: X-Y-Blur-Spread-Color */
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.banda h3 {
	font-size: 2.25em;
}

.banda img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	/* Hacer la imagen redonda */
	/* Agregar sombra, prototipo: X-Y-Blur-Spread-Color */
	box-shadow: 0 10px 4px rgba(0, 0, 0, 0.25);
}

/* <----------------------- Iframes del aside -----------------------> */

