/* Documento para estilos comunes de la pagina */
/* <----------------------- Enlaces de navegacion -----------------------> */
#enlaces {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#enlaces > a {
	color: #127587;
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	font-family: "Alegreya Sans SC", sans-serif;
	font-style: normal;
	font-size: 2em;
}

#enlaces > .bloqueNaranja {
	background-color: #ffb46c;
	margin: 1em;
	/* Se sombrea cuando hover */
	transition: 0.3s;
	
}

#enlaces > .bloqueNaranja:hover {
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

main > div + div {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	margin-bottom: 1em;
}

main p {
	font-size: 1.375em;
	width: 50em;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
	align-self: center;
}

main .bloqueNaranja {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.bloqueNaranja > div {
	background-color: #fbf8f8;
	border-radius: 20px;
	padding: 1em;
	display: flex;
	flex-direction: column;
}
.bloqueNaranja > div > p {
	width: 20em;
}
.bloqueNaranja h2 {
	color: #037c91;
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 0px;
	font-size: 3em;
	align-self: center;
	margin-top: 0px;
}
.bloqueNaranja img {
	width: 450px;
	height: 300px;
	border-radius: 20px;
}

/* <----------------------- Enlaces para las tablas de info -----------------------> */
table {
	border-collapse: collapse;
	margin: 1em;
}

th,
td {
	padding: 1em;
	/* Esquinas redondeadas */
}

th {
	border: 1px solid #fbf8f8;
}
td {
	border: 1px solid #3dbbd2;
}

thead,
tbody {
	font-family: Arial;
	/* centrar texto */
	text-align: center;
}
thead {
	background-color: #037c91;
	color: #fbf8f8;
}
.tablaPequenia {
	display: none;
}
@media (max-width: 70em) {

	main .bloqueNaranja, #enlaces {
		flex-direction: column;
	}
	main > div > p {
		/* Ocupar todo el ancho del contenedor */
		width: 90%;
		margin-left: 1em;
		margin-right: 1em;
	}

	.tablaPequenia {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.tablaGrande {
		display: none;
	}
	tr,
	th,
	td {
		display: block;
	}

	/* Estilos adicionales para los elementos de la tabla */
	tr {
		border: 1px solid #3dbbd2;
	}
}

@media (max-width: 40em) {
	.bloqueNaranja > img {
		width: 100%;
	}
	.bloqueNaranja > .bloqueBlancoSobreNaranja {
		width: 80%;
	}
	.bloqueNaranja > .bloqueBlancoSobreNaranja > h2,
	.bloqueNaranja > .bloqueBlancoSobreNaranja > p {
		text-align: center;
		width: 100%;
	}
	.bloqueNaranja h2,
	#enlaces > a {
		text-align: center;
		width: 80%;
	}

	#enlaces{
		flex-direction: column;
	}

	#enlaces .bloqueNaranja{
		margin-top: 0.4em;
		margin-bottom: 0.0em;
	}

	main > div > p{
		margin-top: 0.4em;
	}
}
