/* Documento para estilos comunes de la pagina */
/* <----------------------- Enlaces de navegacion -----------------------> */
#enlaces {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#enlaces > a {
	color: #1ca9c3;
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	font-family: "Alegreya Sans SC", sans-serif;
	font-style: normal;
	font-size: 2em;
}

#enlaces > a:hover {
	color: #038fa9;
}

#enlaces > .bloqueNaranja {
	background-color: #ffcc9c;
	margin: 1em;
}

main > div + div {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	margin-bottom: 1em;
}

main p {
	font-size: 1.375em;
	width: 50em;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
	align-self: center;
}

main .bloqueNaranja {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.bloqueNaranja > div {
	background-color: white;
	border-radius: 20px;
	padding: 1em;
	display: flex;
	flex-direction: column;
}
.bloqueNaranja > div > p {
	width: 20em;
}
.bloqueNaranja h2 {
	color: #1ca9c3;
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 0px;
	font-size: 3em;
	align-self: center;
	margin-top: 0px;
}
.bloqueNaranja img {
	width: 450px;
	height: 300px;
	border-radius: 20px;
}
table {
	border-collapse: collapse;
	margin: 1em;
}

th,
td {
	border: 2px black solid;
	padding: 1em;
}

thead,
tbody tr:nth-child(even) {
	background-color: #b3b3b3;
}

@media (max-width: 70em) {
	main .bloqueNaranja {
		flex-direction: column;
	}
	main > div > p {
		/* Ocupar todo el ancho del contenedor */
		width: 90%;

		margin-left: 1em;
		margin-right: 1em;
	}
}
@media (max-width: 77em) {
	table {
		display: none;
	}
}

@media (max-width: 40em) {
	.bloqueNaranja > img {
		width: 100%;
	}
	.bloqueNaranja > .bloqueBlancoSobreNaranja {
		width: 80%;
	}
	.bloqueNaranja > .bloqueBlancoSobreNaranja > h2,
	.bloqueNaranja > .bloqueBlancoSobreNaranja > p {
		text-align: center;
		width: 100%;
	}
	.bloqueNaranja h2, #enlaces > a {
		text-align: center;
		width: 80%;
	}

	#enlaces{
		flex-direction: column;
	}

	#enlaces .bloqueNaranja{
		margin-top: 0.4em;
		margin-bottom: 0.0em;
	}

	main > div > p{
		margin-top: 0.4em;
	}
}
